body {
    background-image: url('Webpage.jpg');
}
#container legend {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
#container img {
    width: 60px;
    height: 60px;
}
.header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: large;
}
.header p {
    color: white;
}
h3 {
    color: green;
}
#body h3 {
   font-size: xx-large; 
}
#section {
    background-color: white;
    width: max-content;
    height: max-content;
    box-shadow: 5px 5px;
    border-radius: 20px;
}
#section small {
    font-weight: normal;
    font-size: medium;

}
input {
    box-sizing: border-box;
    box-shadow: 1px 1px;
    padding: 5px 10px;
    margin: 4px;
    border-radius: 10px;
}
button {
    color: white;
    background-color: green;
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    border-color: green;
    box-shadow: 4px 4px green;
    border-radius: 8px;
}
#section a{
    text-decoration: none;
    color: green;
}